<!--
    _method=DELETE tells Express (via method-override) to treat this as a DELETE
    request, instead of a POST request.
-->

<% layout("layouts/boilerplate") %>

<h1><%= restaurant.title %></h1>
<h2><%= restaurant.location %></h2>
<img src="<%= restaurant.image %>" alt="">
<p><%= restaurant.description %></p>
<p><a href="/restaurants/<%= restaurant._id %>/edit">Edit</a></p>

<p>
<form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>
</p>

<footer>
    <a href="/restaurants">All Restaurants</a>
</footer>
